Type=OleDll
Reference=*\G{00020430-0000-0000-C000-000000000046}#2.0#0#C:\WINNT\system32\stdole2.tlb#OLE Automation
Reference=*\G{CE77DEC0-FA30-4391-A5CD-86634BBFA7B2}#1.0#0#C:\Program Files\ArcGIS\com\esriArcCatalog.olb#ESRI ArcCatalog Object Library
Reference=*\G{ED18C81D-E028-4F2A-8745-B6A5D0C6952B}#1.0#0#C:\Program Files\ArcGIS\com\esriArcCatalogUI.olb#ESRI ArcCatalogUI Object Library
Reference=*\G{AA603763-259A-11D3-9F4A-00C04F6BC621}#1.0#0#C:\Program Files\ArcGIS\com\esriArcMap.olb#ESRI ArcMap Object Library
Reference=*\G{40499F24-596F-45D2-ACE1-A251E2990017}#1.0#0#C:\Program Files\ArcGIS\com\esriArcMapUI.olb#ESRI ArcMapUI Object Library
Reference=*\G{45AC68FF-DEFF-4884-B3A9-7D882EDCAEF1}#1.0#0#C:\Program Files\ArcGIS\com\esriCarto.olb#ESRI Carto Object Library
Reference=*\G{D92377DC-FAB1-4DFB-A4C1-61BD8C40DBEB}#1.0#0#C:\Program Files\ArcGIS\com\esriCartoUI.olb#ESRI CartoUI Object Library
Reference=*\G{ADC7DE29-DC0B-448E-BBF6-27E4E34CF2EC}#1.0#0#C:\Program Files\ArcGIS\com\esriCatalog.olb#ESRI Catalog Object Library
Reference=*\G{C0FC1503-7E6F-11D2-AABF-00C04FA375F1}#1.0#0#C:\Program Files\ArcGIS\com\esriCatalogUI.olb#ESRI CatalogUI Object Library
Reference=*\G{4A037613-879A-484D-AF82-0802947C627B}#1.0#0#C:\Program Files\ArcGIS\com\esriDataSourcesGDB.olb#ESRI DataSourcesGDB OBJECT Library
Reference=*\G{59FCCD31-434C-4017-BDEF-DB4B7EDC9CE0}#1.0#0#C:\Program Files\ArcGIS\com\esriDisplay.olb#ESRI Display Object Library
Reference=*\G{016DF9D3-7E81-11D2-A2D1-0000F8774FB5}#1.0#0#C:\Program Files\ArcGIS\com\esriDisplayUI.olb#ESRI DisplayUI Object Library
Reference=*\G{4C896230-7F1A-11D2-8509-0000F875B9C6}#1.0#0#C:\Program Files\ArcGIS\com\esriEditor.olb#ESRI Editor Object Library
Reference=*\G{52AE85C8-0A79-490E-A5E0-EAE86D8ACA6B}#1.0#0#C:\Program Files\ArcGIS\com\esriEditorExt.olb#ESRI EditorExt Object Library
Reference=*\G{866AE5D3-530C-11D2-A2BD-0000F8774FB5}#1.0#0#C:\Program Files\ArcGIS\com\esriFramework.olb#ESRI Framework Object Library
Reference=*\G{0475BDB1-E5B2-4CA2-9127-B4B1683E70C2}#1.0#0#C:\Program Files\ArcGIS\com\esriGeoDatabase.olb#ESRI GeoDatabase Object Library
Reference=*\G{4A9C9ED7-F7DB-4614-B480-A5D265C961FC}#1.0#0#C:\Program Files\ArcGIS\com\esriGeoDatabaseUI.olb#ESRI GeoDatabaseUI Object Library
Reference=*\G{C4B094C2-FF32-4FA1-ABCB-7820F8D6FB68}#1.0#0#C:\Program Files\ArcGIS\com\esriGeometry.olb#ESRI Geometry Object Library
Reference=*\G{5E1F7BC3-67C5-4AEE-8EC6-C4B73AAC42ED}#1.0#0#C:\Program Files\ArcGIS\com\esriSystem.olb#ESRI System Object Library
Reference=*\G{4ECCA6E2-B16B-4ACA-BD17-E74CAE4C150A}#1.0#0#C:\Program Files\ArcGIS\com\esriSystemUI.olb#ESRI SystemUI Object Library
Reference=*\G{712CF8AB-273F-4979-8789-4244FEC15318}#1.1#0#C:\WINNT\system32\errorhandler.dll#ESRI Error Handler V1.0
Reference=*\G{78F0EBE3-7358-4029-9CEE-6788168DA25D}#1.0#0#C:\Program Files\ArcGIS\DeveloperKit\Addins\ErrorHandlerRemover.dll#ESRI Error Handler Remover
Reference=*\G{80768281-8830-4666-9695-E19036F1E08B}#1.0#0#C:\Program Files\ArcGIS\DeveloperKit\Addins\ErrorHandlerUI.dll#ErrorHandlerUI 1.0 Type Library
Reference=*\G{420B2830-E718-11CF-893D-00A0C9054228}#1.0#0#C:\WINNT\system32\scrrun.dll#Microsoft Scripting Runtime
Object={0D452EE1-E08F-101A-852E-02608C4D0BB4}#2.0#0; FM20.DLL
Class=cmdTaxlotAssignment; cmdTaxlotAssignment.cls
Class=clsFieldNames; clsFieldNames.cls
Class=cmdLocate; cmdLocate.cls
Class=cmdTaxlotCombine; cmdTaxlotCombine.cls
Class=cmdArrows; clsArrows.cls
Class=cmdMapIndex; clsMapIndex.cls
Class=clsTaxLotEditingToolbar; clsTaxLotEditingToolbar.cls
Module=basGlobals; globals.bas
Module=basIniFiles; IniFiles.bas
Form=frmTaxlotAssignment.frm
Form=frmMapIndex.frm
Form=frmLocate.frm
Form=frmCombine.frm
Module=basUtilities; modUtils.bas
Class=clsRowChanged; clsRowChanged.cls
Module=basErrorHandling; ErrorHandling.bas
Form=frmArrows.frm
Class=cmdAutoUpdate; cmdAutoUpdate.cls
Class=clsFormsCatalog; FormsCatalog.cls
Module=basWin32API; basWin32API.bas
Class=clsCatalogFileDlg; CatalogFileDlg.cls
Class=ORMAPNumber; ORMAPNumber.cls
Module=AppSpecs; AppSpecs.bas
ResFile32="TaxlotTool.RES"
Startup="(None)"
HelpFile=""
Title="TaxlotEditing"
ExeName32="TaxlotEditing.dll"
Path32="Bin"
Command32=""
Name="TaxlotEditing"
HelpContextID="0"
CompatibleMode="2"
CompatibleEXE32="Bin\TaxlotEditing.dll"
VersionCompatible32="1"
MajorVer=1
MinorVer=0
RevisionVer=0
AutoIncrementVer=0
ServerSupportFiles=0
VersionCompanyName="ORMAP"
VersionLegalCopyright="This tool is licensed under the GPL, the full text can be seen at http://www.opensource.org/licenses/gpl-license.php. "
CompilationType=0
OptimizationType=0
FavorPentiumPro(tm)=0
CodeViewDebugInfo=0
NoAliasing=0
BoundsCheck=0
OverflowCheck=0
FlPointCheck=0
FDIVCheck=0
UnroundedFP=0
StartMode=1
Unattended=0
Retained=0
ThreadPerObject=0
MaxNumberOfThreads=1
ThreadingModel=1
DebugStartupOption=2
DebugStartupComponent=C:\Program Files\ArcGIS\Bin\ArcMap.exe

[MS Transaction Server]
AutoRefresh=1
