[Root]
Most Recent Package=opetPckg


[Package|opetPckg|Root]
SubWizProgID=PDWizard.SetupPkgSubWiz
BuildFolder=C:\Projects\vb6\GIS\ORMap\opetPckg

[Package|opetPckg|Configure DAO ISAMs]
Applicable=No

[Package|opetPckg|Configure DAO ODBC]
JetWorkspace=
ODBCDirect=

[Package|opetPckg|Files Found]

[Package|opetPckg|Files Released]

[Package|opetPckg|Missing Dependency Information]
C:\Program Files\ArcGIS\DeveloperKit\Addins\ErrorHandlerUI.dll=
C:\Program Files\ArcGIS\DeveloperKit\Addins\ErrorHandlerRemover.dll=
C:\Program Files\ArcGIS\DeveloperKit\Addins\ErrorHandler.dll=
C:\Program Files\ArcGIS\com\esriSystemUI.olb=
C:\Program Files\ArcGIS\com\esriSystem.olb=
C:\Program Files\ArcGIS\com\esriGeometry.olb=
C:\Program Files\ArcGIS\com\esriGeoDatabaseUI.olb=
C:\Program Files\ArcGIS\com\esriGeoDatabase.olb=
C:\Program Files\ArcGIS\com\esriFramework.olb=
C:\Program Files\ArcGIS\com\esriEditorExt.olb=
C:\Program Files\ArcGIS\com\esriEditor.olb=
C:\Program Files\ArcGIS\com\esriDisplayUI.olb=
C:\Program Files\ArcGIS\com\esriDisplay.olb=
C:\Program Files\ArcGIS\com\esriDataSourcesGDB.olb=
C:\Program Files\ArcGIS\com\esriCatalogUI.olb=
C:\Program Files\ArcGIS\com\esriCatalog.olb=
C:\Program Files\ArcGIS\com\esriCartoUI.olb=
C:\Program Files\ArcGIS\com\esriCarto.olb=
C:\Program Files\ArcGIS\com\esriArcMapUI.olb=
C:\Program Files\ArcGIS\com\esriArcMap.olb=
C:\Program Files\ArcGIS\com\esriArcCatalogUI.olb=
C:\Program Files\ArcGIS\com\esriArcCatalog.olb=

[Package|opetPckg|Out-of-Date Dependency Information]
C:\WINDOWS\system32\scrrun.dll=

[Package|opetPckg|Files Added]
C:\Projects\vb6\GIS\ORMap\opet\trunk\TaxlotEditing.reg=
C:\Projects\vb6\GIS\ORMap\opet\trunk\Arrows_help.rtf=
C:\Projects\vb6\GIS\ORMap\opet\trunk\Assignment_help.rtf=
C:\Projects\vb6\GIS\ORMap\opet\trunk\Combine_help.rtf=
C:\Projects\vb6\GIS\ORMap\opet\trunk\gpl.rtf=
C:\Projects\vb6\GIS\ORMap\opet\trunk\Locate_help.rtf=
C:\Projects\vb6\GIS\ORMap\opet\trunk\MapIndex_help.rtf=
C:\Projects\vb6\GIS\ORMap\opet\trunk\ormap.ini.tmpl=

[Package|opetPckg|Files Removed]
c:\program files\arcgis\developerkit\addins\errorhandler.dll=
c:\program files\arcgis\developerkit\addins\errorhandlerremover.dll=
c:\program files\arcgis\com\esriarccatalog.olb=
c:\program files\arcgis\com\esriarccatalogui.olb=
c:\program files\arcgis\com\esriarcmap.olb=
c:\program files\arcgis\com\esriarcmapui.olb=
c:\program files\arcgis\com\esricartoui.olb=
c:\program files\arcgis\com\esricatalog.olb=
c:\program files\arcgis\com\esricatalogui.olb=
c:\program files\arcgis\com\esridatasourcesgdb.olb=
c:\program files\arcgis\com\esridisplay.olb=
c:\program files\arcgis\com\esridisplayui.olb=
c:\program files\arcgis\com\esrieditor.olb=
c:\program files\arcgis\com\esrieditorext.olb=
c:\program files\arcgis\com\esriframework.olb=
c:\program files\arcgis\com\esrigeodatabase.olb=
c:\program files\arcgis\com\esrigeodatabaseui.olb=
c:\program files\arcgis\com\esrisystem.olb=
c:\program files\arcgis\com\esrisystemui.olb=
c:\program files\arcgis\com\esrigeometry.olb=
c:\program files\vb98\wizards\pdwizard\redist\msvcrt.dll=
c:\windows\system32\scrrun.dll=
c:\program files\arcgis\com\esricarto.olb=

[Package|opetPckg|Files In Project]
C:\Projects\vb6\GIS\ORMap\opet\trunk\TaxlotEditing.dll=Yes
C:\WINDOWS\system32\msvbvm60.dll=Yes
C:\Program Files\VB98\Wizards\PDWizard\Redist\OLEAUT32.DLL=Yes
C:\Program Files\VB98\Wizards\PDWizard\Redist\OLEPRO32.DLL=Yes
C:\Program Files\VB98\Wizards\PDWizard\Redist\ASYCFILT.DLL=Yes
C:\Program Files\VB98\Wizards\PDWizard\Redist\STDOLE2.TLB=Yes
C:\Program Files\VB98\Wizards\PDWizard\Redist\COMCAT.DLL=Yes
C:\Program Files\ArcGIS\com\esriArcCatalog.olb=No
C:\Program Files\ArcGIS\com\esriArcCatalogUI.olb=No
C:\Program Files\ArcGIS\com\esriArcMap.olb=No
C:\Program Files\ArcGIS\com\esriArcMapUI.olb=No
C:\Program Files\ArcGIS\com\esriCarto.olb=No
C:\Program Files\ArcGIS\com\esriCartoUI.olb=No
C:\Program Files\ArcGIS\com\esriCatalog.olb=No
C:\Program Files\ArcGIS\com\esriCatalogUI.olb=No
C:\Program Files\ArcGIS\com\esriDataSourcesGDB.olb=No
C:\Program Files\ArcGIS\com\esriDisplay.olb=No
C:\Program Files\ArcGIS\com\esriDisplayUI.olb=No
C:\Program Files\ArcGIS\com\esriEditor.olb=No
C:\Program Files\ArcGIS\com\esriEditorExt.olb=No
C:\Program Files\ArcGIS\com\esriFramework.olb=No
C:\Program Files\ArcGIS\com\esriGeoDatabase.olb=No
C:\Program Files\ArcGIS\com\esriGeoDatabaseUI.olb=No
C:\Program Files\ArcGIS\com\esriGeometry.olb=No
C:\Program Files\ArcGIS\com\esriSystem.olb=No
C:\Program Files\ArcGIS\com\esriSystemUI.olb=No
C:\Program Files\ArcGIS\DeveloperKit\Addins\ErrorHandler.dll=No
C:\Program Files\ArcGIS\DeveloperKit\Addins\ErrorHandlerRemover.dll=No
C:\Program Files\ArcGIS\DeveloperKit\Addins\ErrorHandlerUI.dll=Yes
C:\WINDOWS\system32\scrrun.dll=No
C:\Program Files\VB98\Wizards\PDWizard\Redist\MSVCRT.DLL=No
C:\WINDOWS\system32\FM20.DLL=Yes
C:\Program Files\VB98\Wizards\PDWizard\SETUP.EXE=Yes
C:\Program Files\VB98\Wizards\PDWizard\SETUP1.EXE=Yes
C:\WINDOWS\system32\VB6STKIT.DLL=Yes
C:\Program Files\VB98\Wizards\PDWizard\ST6UNST.EXE=Yes
C:\Projects\vb6\GIS\ORMap\opet\trunk\TaxlotEditing.reg=Yes
C:\Projects\vb6\GIS\ORMap\opet\trunk\Arrows_help.rtf=Yes
C:\Projects\vb6\GIS\ORMap\opet\trunk\Assignment_help.rtf=Yes
C:\Projects\vb6\GIS\ORMap\opet\trunk\Combine_help.rtf=Yes
C:\Projects\vb6\GIS\ORMap\opet\trunk\gpl.rtf=Yes
C:\Projects\vb6\GIS\ORMap\opet\trunk\Locate_help.rtf=Yes
C:\Projects\vb6\GIS\ORMap\opet\trunk\MapIndex_help.rtf=Yes
C:\Projects\vb6\GIS\ORMap\opet\trunk\ormap.ini.tmpl=Yes

[Package|opetPckg|Configure Registry Files]
Applicable=Yes
C:\Projects\vb6\GIS\ORMap\opet\trunk\TaxlotEditing.reg=Register

[Package|opetPckg|Configure Remote Servers]
Applicable=No

[Package|opetPckg|Install Locations]
C:\Projects\vb6\GIS\ORMap\opet\trunk\TaxlotEditing.dll=$(AppPath)
C:\WINDOWS\system32\msvbvm60.dll=$(WinSysPathSysFile)
C:\Program Files\VB98\Wizards\PDWizard\Redist\OLEAUT32.DLL=$(WinSysPathSysFile)
C:\Program Files\VB98\Wizards\PDWizard\Redist\OLEPRO32.DLL=$(WinSysPathSysFile)
C:\Program Files\VB98\Wizards\PDWizard\Redist\ASYCFILT.DLL=$(WinSysPathSysFile)
C:\Program Files\VB98\Wizards\PDWizard\Redist\STDOLE2.TLB=$(WinSysPathSysFile)
C:\Program Files\VB98\Wizards\PDWizard\Redist\COMCAT.DLL=$(WinSysPathSysFile)
C:\Program Files\ArcGIS\DeveloperKit\Addins\ErrorHandlerUI.dll=$(WinSysPath)
C:\WINDOWS\system32\FM20.DLL=$(WinSysPath)
C:\Program Files\VB98\Wizards\PDWizard\SETUP.EXE=$(AppPath)
C:\Program Files\VB98\Wizards\PDWizard\SETUP1.EXE=$(WinPath)
C:\WINDOWS\system32\VB6STKIT.DLL=$(WinSysPathSysFile)
C:\Program Files\VB98\Wizards\PDWizard\ST6UNST.EXE=$(WinPath)
C:\Projects\vb6\GIS\ORMap\opet\trunk\Arrows_help.rtf=$(AppPath)
C:\Projects\vb6\GIS\ORMap\opet\trunk\Assignment_help.rtf=$(AppPath)
C:\Projects\vb6\GIS\ORMap\opet\trunk\Combine_help.rtf=$(AppPath)
C:\Projects\vb6\GIS\ORMap\opet\trunk\gpl.rtf=$(AppPath)
C:\Projects\vb6\GIS\ORMap\opet\trunk\Locate_help.rtf=$(AppPath)
C:\Projects\vb6\GIS\ORMap\opet\trunk\MapIndex_help.rtf=$(AppPath)
C:\Projects\vb6\GIS\ORMap\opet\trunk\ormap.ini.tmpl=$(AppPath)

[Package|opetPckg|Configure Shared Files]
Applicable=Yes
C:\Projects\vb6\GIS\ORMap\opet\trunk\TaxlotEditing.dll=No
C:\Projects\vb6\GIS\ORMap\opet\trunk\Arrows_help.rtf=No
C:\Projects\vb6\GIS\ORMap\opet\trunk\Assignment_help.rtf=No
C:\Projects\vb6\GIS\ORMap\opet\trunk\Combine_help.rtf=No
C:\Projects\vb6\GIS\ORMap\opet\trunk\gpl.rtf=No
C:\Projects\vb6\GIS\ORMap\opet\trunk\Locate_help.rtf=No
C:\Projects\vb6\GIS\ORMap\opet\trunk\MapIndex_help.rtf=No
C:\Projects\vb6\GIS\ORMap\opet\trunk\ormap.ini.tmpl=No

[Package|opetPckg|Distribution]
Type=single
Size=
Title=TaxlotEditing V1.1

[Package|opetPckg|Package]
PackageFolder=C:\Projects\vb6\GIS\ORMap\opetPckg
ProjectFolder=C:\Projects\vb6\GIS\ORMap\opet\trunk
ServerSideCab=
File1=C:\Projects\vb6\GIS\ORMap\opetPckg\setup.exe
File2=C:\Projects\vb6\GIS\ORMap\opetPckg\Setup.Lst
File3=C:\Projects\vb6\GIS\ORMap\opetPckg\TaxlotEditing.CAB
Handler1=PDWizard.FolderDplySubWiz
Handler2=PDWizard.WebPostDplySubWiz
