<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OrmapTaxlotEditing.TaxLotLinesSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="OrmapTaxlotEditing.TaxLotSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="OrmapTaxlotEditing.AnnoTableNamesSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="OrmapTaxlotEditing.TaxlotNumberAnnoSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="OrmapTaxlotEditing.TaxlotAcreageAnnoSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="OrmapTaxlotEditing.DefaultValuesSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="OrmapTaxlotEditing.TableNamesSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="OrmapTaxlotEditing.MapIndexSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="OrmapTaxlotEditing.TaxlotSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="OrmapTaxlotEditing.TaxlotLinesSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="OrmapTaxlotEditing.CartographicLinesSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="OrmapTaxlotEditing.AllTablesSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="OrmapTaxlotEditing.CartographicLines" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="OrmapTaxlotEditing.Taxlot" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="OrmapTaxlotEditing.TaxlotLines" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="OrmapTaxlotEditing.TaxlotFields" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="OrmapTaxlotEditing.MapIndexFields" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
    defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add toAddress="nick@nickseigal.com" fromAddress="Exception@Ormap.gov"
        subjectLineStarter="" subjectLineEnder="" smtpServer="smtp.iinet.com"
        smtpPort="25" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        traceOutputOptions="Callstack" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="Email TraceListener" />
      <add fileName="trace.log" header="----------------------------------------"
        footer="----------------------------------------" formatter="Text Formatter"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        traceOutputOptions="Callstack" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="FlatFile TraceListener" />
      <add source="ORMAP Taxlot Editing Logging" formatter="Text Formatter"
        log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        traceOutputOptions="Callstack" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="Formatted EventLog TraceListener" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="Global Policy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add logCategory="General" eventId="100" severity="Error" title="ORMAP Taxlot Editing Exception Handling"
                formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
                priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
                name="Logging Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Log Only Policy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="ThrowNewException" name="Exception">
            <exceptionHandlers>
              <add logCategory="General" eventId="100" severity="Error" title="ORMAP Taxlot Editing Exception Handling"
                formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
                priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
                name="Logging Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Notify Policy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="NotifyRethrow" name="Exception">
            <exceptionHandlers>
              <add logCategory="General" eventId="100" severity="Error" title="ORMAP Taxlot Editing Exception Handling"
                formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
                priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
                name="Logging Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <OrmapTaxlotEditing.TaxLotLinesSettings>
      <setting name="LineTypeField" serializeAs="String">
        <value>LineType</value>
      </setting>
    </OrmapTaxlotEditing.TaxLotLinesSettings>
    <OrmapTaxlotEditing.TaxLotSettings>
      <setting name="CountyField" serializeAs="String">
        <value>County</value>
      </setting>
      <setting name="TownshipField" serializeAs="String">
        <value>Town</value>
      </setting>
      <setting name="TownshipPartField" serializeAs="String">
        <value>TownPart</value>
      </setting>
      <setting name="TownshipDirectionField" serializeAs="String">
        <value>TownDir</value>
      </setting>
      <setting name="RangeField" serializeAs="String">
        <value>Range</value>
      </setting>
      <setting name="RangePartField" serializeAs="String">
        <value>RangePart</value>
      </setting>
      <setting name="RangeDirectionField" serializeAs="String">
        <value>RangeDir</value>
      </setting>
      <setting name="SectionNumberField" serializeAs="String">
        <value>SecNumber</value>
      </setting>
      <setting name="QuarterSectionField" serializeAs="String">
        <value>Qtr</value>
      </setting>
      <setting name="QuarterQuarterSectionField" serializeAs="String">
        <value>QtrQtr</value>
      </setting>
      <setting name="OrmapMapNumberField" serializeAs="String">
        <value>ORMapNum</value>
      </setting>
      <setting name="OrmapTaxlotField" serializeAs="String">
        <value>ORTaxlot</value>
      </setting>
      <setting name="MapNumberField" serializeAs="String">
        <value>MapNumber</value>
      </setting>
      <setting name="TaxlotField" serializeAs="String">
        <value>Taxlot</value>
      </setting>
      <setting name="MapTaxlotField" serializeAs="String">
        <value>MapTaxlot</value>
      </setting>
      <setting name="MapTaxlotFormatMask" serializeAs="String">
        <value>TR^DSSQQ@@@@@</value>
      </setting>
      <setting name="SpecialInterestField" serializeAs="String">
        <value>SpecialInt</value>
      </setting>
      <setting name="MapSuffixNumberField" serializeAs="String">
        <value>MapSufNum</value>
      </setting>
      <setting name="MapSuffixTypeField" serializeAs="String">
        <value>MapSufType</value>
      </setting>
      <setting name="MapAcresField" serializeAs="String">
        <value>MapAcres</value>
      </setting>
      <setting name="AnomalyField" serializeAs="String">
        <value>Anomaly</value>
      </setting>
    </OrmapTaxlotEditing.TaxLotSettings>
    <OrmapTaxlotEditing.AnnoTableNamesSettings>
      <setting name="TaxCodeAnnoFC" serializeAs="String">
        <value>TaxCodeAnno</value>
      </setting>
      <setting name="LotsAnnoFC" serializeAs="String">
        <value>LotsAnno</value>
      </setting>
      <setting name="TaxlotNumberAnnoFC" serializeAs="String">
        <value>TaxlotNumberAnno</value>
      </setting>
      <setting name="TaxlotAcreageAnnoFC" serializeAs="String">
        <value>TaxlotAcreageAnno</value>
      </setting>
      <setting name="Anno0010scaleFC" serializeAs="String">
        <value>Anno0010scale</value>
      </setting>
      <setting name="Anno0020scaleFC" serializeAs="String">
        <value>Anno0020scale</value>
      </setting>
      <setting name="Anno0030scaleFC" serializeAs="String">
        <value>Anno0030scale</value>
      </setting>
      <setting name="Anno0040scaleFC" serializeAs="String">
        <value>Anno0040scale</value>
      </setting>
      <setting name="Anno0050scaleFC" serializeAs="String">
        <value>Anno0050scale</value>
      </setting>
      <setting name="Anno0100scaleFC" serializeAs="String">
        <value>Anno0100scale</value>
      </setting>
      <setting name="Anno0200scaleFC" serializeAs="String">
        <value>Anno0200scale</value>
      </setting>
      <setting name="Anno0400scaleFC" serializeAs="String">
        <value>Anno0400scale</value>
      </setting>
      <setting name="Anno0800scaleFC" serializeAs="String">
        <value>Anno0800scale</value>
      </setting>
      <setting name="Anno2000scaleFC" serializeAs="String">
        <value>Anno2000scale</value>
      </setting>
    </OrmapTaxlotEditing.AnnoTableNamesSettings>
    <OrmapTaxlotEditing.TaxlotNumberAnnoSettings>
      <setting name="TextSize00120Scale" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TextSize00240Scale" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TextSize00360Scale" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="TextSize00480Scale" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="TextSize00600Scale" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="TextSize01200Scale" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TextSize02400Scale" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="TextSize04800Scale" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="TextSize09600Scale" serializeAs="String">
        <value>64</value>
      </setting>
      <setting name="TextSize24000Scale" serializeAs="String">
        <value>200</value>
      </setting>
    </OrmapTaxlotEditing.TaxlotNumberAnnoSettings>
    <OrmapTaxlotEditing.TaxlotAcreageAnnoSettings>
      <setting name="TextSize00120Scale" serializeAs="String">
        <value>0.8</value>
      </setting>
      <setting name="TextSize00240Scale" serializeAs="String">
        <value>1.6</value>
      </setting>
      <setting name="TextSize00360Scale" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TextSize00480Scale" serializeAs="String">
        <value>3.2</value>
      </setting>
      <setting name="TextSize00600Scale" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="TextSize01200Scale" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="TextSize02400Scale" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="TextSize04800Scale" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="TextSize09600Scale" serializeAs="String">
        <value>48</value>
      </setting>
      <setting name="TextSize24000Scale" serializeAs="String">
        <value>160</value>
      </setting>
    </OrmapTaxlotEditing.TaxlotAcreageAnnoSettings>
    <OrmapTaxlotEditing.DefaultValuesSettings>
      <setting name="County" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="TownshipDirection" serializeAs="String">
        <value>N</value>
      </setting>
      <setting name="RangeDirection" serializeAs="String">
        <value>E</value>
      </setting>
      <setting name="MapSuffixType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MapSuffixNumber" serializeAs="String">
        <value>000</value>
      </setting>
      <setting name="QuarterSection" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="QuarterQuarterSection" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Anomaly" serializeAs="String">
        <value>--</value>
      </setting>
      <setting name="TownshipPart" serializeAs="String">
        <value>.00</value>
      </setting>
      <setting name="RangePart" serializeAs="String">
        <value>.00</value>
      </setting>
    </OrmapTaxlotEditing.DefaultValuesSettings>
    <OrmapTaxlotEditing.TableNamesSettings>
      <setting name="MapIndexFC" serializeAs="String">
        <value>MapIndex</value>
      </setting>
      <setting name="TaxCodeFC" serializeAs="String">
        <value>TaxCode</value>
      </setting>
      <setting name="TaxLotFC" serializeAs="String">
        <value>TaxLot</value>
      </setting>
      <setting name="TaxLotLinesFC" serializeAs="String">
        <value>TaxLotLines</value>
      </setting>
      <setting name="PlatsFC" serializeAs="String">
        <value>Plats</value>
      </setting>
      <setting name="CartographicLinesFC" serializeAs="String">
        <value>CartographicLines</value>
      </setting>
      <setting name="ReferenceLinesFC" serializeAs="String">
        <value>ReferenceLines</value>
      </setting>
      <setting name="CancelledNumbersTable" serializeAs="String">
        <value>CancelledNumbers</value>
      </setting>
    </OrmapTaxlotEditing.TableNamesSettings>
    <OrmapTaxlotEditing.MapIndexSettings>
      <setting name="CountyField" serializeAs="String">
        <value>County</value>
      </setting>
      <setting name="MapNumberField" serializeAs="String">
        <value>MapNumber</value>
      </setting>
      <setting name="OrmapMapNumberField" serializeAs="String">
        <value>ORMapNum</value>
      </setting>
      <setting name="MapScaleField" serializeAs="String">
        <value>MapScale</value>
      </setting>
      <setting name="MapSuffixTypeField" serializeAs="String">
        <value>MapSuffixType</value>
      </setting>
      <setting name="MapSuffixNumberField" serializeAs="String">
        <value>MapSuffixNum</value>
      </setting>
      <setting name="PageNumberField" serializeAs="String">
        <value>PageNumber</value>
      </setting>
      <setting name="ReliabilityCodeField" serializeAs="String">
        <value>ReliaCode</value>
      </setting>
    </OrmapTaxlotEditing.MapIndexSettings>
    <OrmapTaxlotEditing.TaxlotSettings>
      <setting name="CountyField" serializeAs="String">
        <value>County</value>
      </setting>
      <setting name="TownshipField" serializeAs="String">
        <value>Town</value>
      </setting>
      <setting name="TownshipPartField" serializeAs="String">
        <value>TownPart</value>
      </setting>
      <setting name="TownshipDirectionField" serializeAs="String">
        <value>TownDir</value>
      </setting>
      <setting name="RangeField" serializeAs="String">
        <value>Range</value>
      </setting>
      <setting name="RangePartField" serializeAs="String">
        <value>RangePart</value>
      </setting>
      <setting name="RangeDirectionField" serializeAs="String">
        <value>RangeDir</value>
      </setting>
      <setting name="SectionNumberField" serializeAs="String">
        <value>SecNumber</value>
      </setting>
      <setting name="QuarterSectionField" serializeAs="String">
        <value>Qtr</value>
      </setting>
      <setting name="QuarterQuarterSectionField" serializeAs="String">
        <value>QtrQtr</value>
      </setting>
      <setting name="OrmapMapNumberField" serializeAs="String">
        <value>ORMapNum</value>
      </setting>
      <setting name="OrmapTaxlotField" serializeAs="String">
        <value>ORTaxlot</value>
      </setting>
      <setting name="MapNumberField" serializeAs="String">
        <value>MapNumber</value>
      </setting>
      <setting name="TaxlotField" serializeAs="String">
        <value>Taxlot</value>
      </setting>
      <setting name="MapTaxlotField" serializeAs="String">
        <value>MapTaxlot</value>
      </setting>
      <setting name="MapTaxlotFormatMask" serializeAs="String">
        <value>TR^DSSQQ@@@@@</value>
      </setting>
      <setting name="SpecialInterestField" serializeAs="String">
        <value>SpecialInt</value>
      </setting>
      <setting name="MapSuffixNumberField" serializeAs="String">
        <value>MapSufNum</value>
      </setting>
      <setting name="MapSuffixTypeField" serializeAs="String">
        <value>MapSufType</value>
      </setting>
      <setting name="MapAcresField" serializeAs="String">
        <value>MapAcres</value>
      </setting>
      <setting name="AnomalyField" serializeAs="String">
        <value>Anomaly</value>
      </setting>
    </OrmapTaxlotEditing.TaxlotSettings>
    <OrmapTaxlotEditing.TaxlotLinesSettings>
      <setting name="LineTypeField" serializeAs="String">
        <value>LineType</value>
      </setting>
    </OrmapTaxlotEditing.TaxlotLinesSettings>
    <OrmapTaxlotEditing.CartographicLinesSettings>
      <setting name="LineTypeField" serializeAs="String">
        <value>LineType</value>
      </setting>
    </OrmapTaxlotEditing.CartographicLinesSettings>
    <OrmapTaxlotEditing.AllTablesSettings>
      <setting name="AutoDateField" serializeAs="String">
        <value>AutoDate</value>
      </setting>
      <setting name="AutoMethodField" serializeAs="String">
        <value>AutoMethod</value>
      </setting>
      <setting name="AutoWhoField" serializeAs="String">
        <value>AutoWho</value>
      </setting>
    </OrmapTaxlotEditing.AllTablesSettings>
    <OrmapTaxlotEditing.CartographicLines>
      <setting name="LineType" serializeAs="String">
        <value />
      </setting>
    </OrmapTaxlotEditing.CartographicLines>
    <OrmapTaxlotEditing.Taxlot>
      <setting name="County" serializeAs="String">
        <value />
      </setting>
      <setting name="Township" serializeAs="String">
        <value />
      </setting>
      <setting name="TownshipPart" serializeAs="String">
        <value />
      </setting>
      <setting name="TownshipDirection" serializeAs="String">
        <value />
      </setting>
      <setting name="Range" serializeAs="String">
        <value />
      </setting>
      <setting name="RangePart" serializeAs="String">
        <value />
      </setting>
      <setting name="RangeDirection" serializeAs="String">
        <value />
      </setting>
      <setting name="SectionNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="QuarterSection" serializeAs="String">
        <value />
      </setting>
      <setting name="QuarterQuarterSection" serializeAs="String">
        <value />
      </setting>
      <setting name="OrmapMapNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="OrmapTaxlot" serializeAs="String">
        <value />
      </setting>
      <setting name="MapNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="Taxlot" serializeAs="String">
        <value />
      </setting>
      <setting name="MapTaxlot" serializeAs="String">
        <value />
      </setting>
      <setting name="MapTaxlotMask" serializeAs="String">
        <value />
      </setting>
    </OrmapTaxlotEditing.Taxlot>
    <OrmapTaxlotEditing.TaxlotLines>
      <setting name="LineType" serializeAs="String">
        <value />
      </setting>
    </OrmapTaxlotEditing.TaxlotLines>
    <OrmapTaxlotEditing.TaxlotFields>
      <setting name="County" serializeAs="String">
        <value />
      </setting>
      <setting name="Township" serializeAs="String">
        <value />
      </setting>
      <setting name="TownshipPart" serializeAs="String">
        <value />
      </setting>
      <setting name="TownshipDirection" serializeAs="String">
        <value />
      </setting>
      <setting name="Range" serializeAs="String">
        <value />
      </setting>
      <setting name="RangePart" serializeAs="String">
        <value />
      </setting>
      <setting name="RangeDirection" serializeAs="String">
        <value />
      </setting>
      <setting name="SectionNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="QuarterSection" serializeAs="String">
        <value />
      </setting>
      <setting name="QuarterQuarterSection" serializeAs="String">
        <value />
      </setting>
      <setting name="OrmapMapNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="OrmapTaxlot" serializeAs="String">
        <value />
      </setting>
      <setting name="MapNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="Taxlot" serializeAs="String">
        <value />
      </setting>
      <setting name="MapTaxlot" serializeAs="String">
        <value />
      </setting>
    </OrmapTaxlotEditing.TaxlotFields>
    <OrmapTaxlotEditing.MapIndexFields>
      <setting name="County" serializeAs="String">
        <value />
      </setting>
      <setting name="MapNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="OrmapMapNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="MapScale" serializeAs="String">
        <value />
      </setting>
      <setting name="MapSuffixType" serializeAs="String">
        <value />
      </setting>
      <setting name="MapSuffixNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="PageNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="ReliabilityCode" serializeAs="String">
        <value />
      </setting>
    </OrmapTaxlotEditing.MapIndexFields>
  </userSettings>
</configuration>
